<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet"href="./css/styles.css"/>
    </head>
    <body>
<title>Route</title><h1 style="font-family: 'Times New Roman', Times, serif;">{{>header}}</h1>
<p>This site was created by Valusa Vishnu. It uses data from mapbox.com.</p>
 <img src="./img/v2.jpg" class="portrait"/>
 <p>Created by:{{name}}</p>
 <p>{{>footer}}</p>
</body>
</html>