<!DOCTYPE html>
<html>
    <style>
        *{
        font-size:24px;}
    </style>
    <head>
    <title>404</title>
    </head>
    <body>
        <div class="main">
    <h1>{{>header}}</h1>
        <p>{{errormessage}}</p>
        </div>
        
        <p>{{>footer}}</p>
    </body>
</html>