<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"href="./css/styles.css"/>
    </head>
    <body>
        {{>header}}
    <div style="background-color:aqua;">The stakeholders involved in the successful operation of the <b>{{title}}</b> are Students, Staff (Teaching and non teaching) , Alumni, Employers and Parents. It is pertinent to collect a feedback from time to time from these stake holders to look back and improve upon the operations/ performance of the institute. This feedback is collected in the curricular aspects, teaching – learning process and facilities provided. This feedback is collected at regular intervals involving the stake holders. In addition suggestion boxes are also installed at various academic blocks to receive the feedback. College is located at <b>{{address}}</b></div>    
    <hr/>
    <p>{{>footer}}</p>
    </body>
</html>